* {
    box-sizing: border-box;
    font-family: 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, Seravek, sans-serif;
    font-weight: normal;
}

div {
    border: 2px solid black;
}


.header{
    text-align: center;
}
